<header>

  <nav>
    <ul class="nav-links">
      <a href="/writes" style="text-decoration: none;">
        <div class="logo-bg">
          <p class="logo" style="font-size: 40px;">FootyLab</p>
      </a>
      </div>
      <li class="nav"><a class="allLinks" href="/writes">Shop</a></li>
      <li class="nav"><a class="allLinks" href="/writes/new">Sell</a></li>
      <li class="nav"><a class="allLinks" id="reviews" href="/reviews">Reviews</a></li>
    </ul>
  </nav>
</header>