

*{
    box-sizing: border-box;
}

body {
  background-color: #e5eafa;
  margin: 0;
}

img {
    vertical-align: middle;
    border-style: none;
    width:  30vw 30vh;
    height: 30vw 30vh;
    
}



.text-center {
    text-align: center!important;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.h2 {
    font-size: 2rem;
}

h1 {
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    justify-content: space-between;
    font-size: 25px;

}

.nav-links .nav li a {
    transition: all 0.3s ease 0s;
    color: #12232e;
    text-decoration: none;
}

.nav-links .nav li a:hover {
    color: aquamarine;
}

header {
    background-color: #e5eafa;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .3);
}

.allLinks {
    text-decoration: none;
    color: #12232e;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease 0s;
}

.allLinks:hover {
    color: #0088a9;
}


.card {
   width: 20%;
   margin: 15px;
   box-sizing: border-box;
   float: left;
   text-align: center;
   border-radius: 20px;
   padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }

  .title {
    text-align: center;
    margin: 0;
    padding-top: 10px;
  }

  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
    background-color: black;
}


.footer-content h3{
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    color: #fff;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
    text-align: center;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.socials li{
    text-align: center;
    margin-right: 5rem;
    margin-left: 3.2em;

    
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover {
    color: aqua;
}


        /* Footer */
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

    
.footer-bottom p{
    /* float: left; */
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }